name: Sistema de Cortes Mídia
on:
  repository_dispatch:
    types: [novo_relatorio]

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    environment: producao
    steps:
      - name: Aguardando Aprovação
        run: echo "Aprovação pendente."

  processamento:
    needs: gatekeeper
    runs-on: self-hosted
    defaults:
      run:
        shell: cmd # Força o CMD para todos os passos deste job
    steps:
      - uses: actions/checkout@v3
      - name: Executar Motor de Corte
        env:
          RELATORIO_BRUTO: ${{ github.event.client_payload.relatorio }}
          URL_YOUTUBE: ${{ github.event.client_payload.url }}
        run: python processar_cortes.py
