name: Sistema de Cortes Mídia
on:
  repository_dispatch:
    types: [novo_relatorio]

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    environment: producao
    steps:
      - name: Aguardando Aprovação
        run: echo "Aprovação pendente."

  processamento:
    needs: gatekeeper
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Criar Arquivos de Dados
        shell: cmd
        run: |
          echo ${{ github.event.client_payload.url }} > url_temp.txt
          (echo ${{ github.event.client_payload.relatorio }}) > relatorio_temp.txt

      - name: Executar Motor de Corte
        shell: cmd
        run: python processar_cortes.py
