name: Sistema de Cortes Mídia
on:
  repository_dispatch:
    types: [novo_relatorio]

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    environment: producao
    steps:
      - name: Aprovação Manual
        run: echo "Aguardando aprovação."

  processamento:
    needs: gatekeeper
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      
      - name: Criar Arquivo de Dados
        shell: cmd
        run: |
          echo ${{ github.event.client_payload.url }} > url_temp.txt
          echo "${{ github.event.client_payload.relatorio }}" > relatorio_temp.txt

      - name: Executar Motor de Corte
        shell: cmd
        run: python processar_cortes.py
